{% extends 'jobs/base/base.html' %}
{% load static %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'jobs/styles/style.css'%}">
{% endblock %}

{% block body_content %}
<div class="container">
    <div class="img-container">
        <img src="{% static 'jobs/images/designer.jpeg'%}" alt="">
    </div>
    <div class="slogan">
        <p id="header">Find The Right Job</p>
        <p id="sub">With one click.</p>
        <a href="{% url 'job-listings' %}" class="btn">Start Now</a>
    </div>
</div>
{% endblock %}